/* Cyberpunk(RUS BY LYAJKA) — https://fonts-online.ru/fonts/cyberpunkrus-lyajka */
@font-face {
    font-family: 'Cyberpunk RUS BY LYAJKA';
    src: url('/fonts/Cyberpunk_RUS_BY_LYAJKA.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
